// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "toastr";
body
{
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    background-size: cover;
    background-repeat: repeat-y;
}
.btn
{
    transition: 0.5s;
    padding: 15px 30px;
}
    .btn--green
    {
        color: white;
        background-color: $green;
    }
    .btn--green:hover
    {
        color: white;
        background-color: $green2;
    }
    .btn--greenline
    {
        color: $green;
        border: 1px solid $green;
        background-color: transparent;
    }
    .btn--greenline:hover
    {
        color: black;
        border: 1px solid $green2;
    }
.bggreen
{
    background-color: $green;
    background-size: cover;
    background-repeat: no-repeat;
}
    .bgblack
    {
        background-color: rgb(27, 27, 27);
    }
.text
{
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 100;
    color: #6d6d6d;
}
    .text--bg
    {
        font-size: 40px;
        line-height: 45px;
        font-weight: 800;
    }
    .text--green,
    .text--green:hover
    {
        color: $green !important;
    }
    .text--black
    {
        color: #021D0A;
    }
    .text--white
    {
        color: #ffffff;
    }
.navbar-covid
{
    background-color: #ffffff !important;
    -webkit-box-shadow: 0px 0px 18px -12px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 18px -12px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 18px -12px rgba(0,0,0,0.55);
}
    .nav-item.active a
    {
        font-weight: 600;
        color: $green !important;
    }
    .navbar-brand
    {
        height: 80px;
        padding: 20px;
    }
.frame
{
    padding-top: 130px;
    padding-bottom: 130px;
}
    .frame2
    {
        padding-top: 80px;
        padding-bottom: 130px;
    }
    .frame3
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
.intro
{
    width: 100%;
    display: flex;
}
    .intro_textframe
    {
        padding-bottom: 20px;
    }
    .intro_caption
    {
        width: 65%;
        padding-right: 100px;
    }
    .intro_app
    {
        width: 35%;
        padding: 0px;
        border-radius: 20px;
        /*
        background: #E3EEF1;
        background: -moz-linear-gradient(top, #E3EEF1 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #E3EEF1), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, #E3EEF1 0%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, #E3EEF1 0%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, #E3EEF1 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, #E3EEF1 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eef1', endColorstr='#ffffff', GradientType=0 );
        */
    }
    .intro_img
    {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: auto;
    }
    .intro_downloadframe
    {
        display: flex;
    }
    .intro_download
    {
        flex: 1;
    }
    .intro_download img
    {
        display: block;
        margin: auto;
        margin-top: 20px;
        height: 30px;
    }
    .owl-dots
    {
        margin-left: -5px;
    }
    .owl-dot
    {
        float: left;
    }
.h30
{
    display: block;
    height: 30px;
}  
    .h50
    {
        display: block;
        height: 50px;
    }  
.panel
{
    padding: 30px;
    border-radius: 10px;
    display: block;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px 0px 19px -13px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 19px -13px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 19px -13px rgba(0,0,0,0.25);
}
    .panel--purple
    {
        background-color: #E3EEF1;
    }
    .form-input
    {
        display: block;
        border-radius: 5px;
        font-size-adjust: 17px;
        width: 100%;
        padding: 15px 20px;
        border: 0px solid transparent;
    }
    .form-input2
    {
        background-color: #f3f3f3;
        margin-bottom: 20px;
    }
    .pertanyaan_img
    {
        width: 100%;
        height: auto;
    }
    .pertanyaan_map
    {
        width: 100%;
        height: 300px;
    }
    .pertanyaan_title
    {
        font-size: 30px;
    }
.text_flex
{
    display: flex;
    padding: 10px;
    background-color: #E3EEF1;
    border-radius: 5px;
    margin-top: 10px;
}
    .text_flex .text
    {
        flex: 1;
        font-weight: 400;
        color: #6a7c81;
    }
    .text_flex i
    {
        font-size: 20px;
        padding-right: 10px;
        color: $green;
    }
.navbar-toggler
{
    border: 0px solid transparent;
}
.login
{
    display: flex;
}
    .login_form
    {
        margin-right: 10px;
        flex: 1;
        border: 0px solid transparent;
        padding: 15px;
        border-radius: 5px;
    }
.tentang_smalltitle
{
    font-size: 20px;
    color: rgb(44, 56, 53);
    margin-bottom: 0px;
    font-weight: bold;
}
    .tentang_bigtitle
    {
        font-size: 50px;
        color: white;
        font-weight: bold;
    }
    .tentang_text
    {
        padding: 0px 200px;
    }
    .tentang_flex
    {
        padding: 50px 0px;
        display: flex;
    }
    .tentang_frame
    {
        text-align: center;
        flex: 1;
        border-right: 0.3px solid #72eb967a;
    }
    .tentang_frame:last-child
    {
        border-right: 0.3px solid transparent;
    }
    .tentang_angka
    {
        font-size: 60px;
        margin-bottom: 0px;
        font-weight: bold;
        color: white;
    }
    .tentang_var
    {
        font-size: 20px;
        color: rgb(210, 243, 214);
    }
.menu
{
    position: fixed;
    min-height: 100vh;
    display: flex;
    width: 100%;
    background-color: #000000d2;
    z-index: 100000000000;
    overflow: hidden;
    transition: 0.1s;
}
    .menu-kiri
    {
        flex: 1;
    }
    .menu-kiri:hover
    {
        cursor: pointer;
    }
    .menu-kanan
    {
        width: 350px;
        box-sizing: border-box;
        padding: 30px;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    .menu-close
    {
        position: absolute;
        padding: 3px 7px;
        background-color: rgba(255, 255, 255, 0.11);
        color: rgba(255, 255, 255, 0.678);
        border-radius: 50%;
    }
    .menu-close:hover
    {
        transition: 0.5s;
        text-decoration: none;
        color: $green;
    }
    .menu-title
    {
        margin-top: 50px;
        font-weight: bold;
        color: $green;
        font-size: 30px;
    }
    .menu-title span
    {
        position: absolute;
        margin-top: -10px;
        color: rgb(182, 182, 182);
        font-weight: normal;
        font-size: 12px;
    }
    .menu-frame
    {
        flex: 1;
        padding-top: 20px;
    }
    .menu-kontak
    {
        color: rgb(173, 173, 173);
        display: inline-block;
        font-size: 13px;
        background-color: rgba(255, 255, 255, 0.185);
        padding: 3px 10px;
        border-radius: 3px;
        margin-bottom: 0px;
    }
    .menu-value,
    .menu-value:hover
    {
        margin-bottom: 20px;
        display: block;
        color: white;
        font-size: 20px;
    }
    .menu-text
    {
        font-size: 13px;
        color: rgb(112, 111, 111);
    }
    .menu.close
    {
        width: 0px;
    }
@media (max-width: 768px) {
    .frame
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .intro
    {
        flex-direction: column-reverse;
        padding: 0px;
    }
        .intro_textframe
        {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .intro_caption
        {
            padding:0px;
            width: 100%;
        }
        .intro_app
        {
            width: 100%;
            padding: 0px;
            padding-right: 10px;
            margin-bottom: 30px;
        }
        .intro_img
        {
            width: 100%;
        }
    .text--bg
    {
        font-size: 20px;
        line-height: 25px;
    }
    .navbar-brand
    {
        height: 50px;
        padding: 10px 0px;
    }
    .pertanyaan_title
    {
        margin-top: 30px;
    }
    .pertanyaan_title--top0
    {
        margin-top: 0px;
    }
    .h30
    {
        height: 0px;
    }
    .login
    {
        padding-top: 0px;
        width: 90%;
        display: block;
        margin: auto;
    }
    .panel--purple
    {
        padding: 15px 10px;
    }
    .login
    {
        display: block;
        padding: 0px;
    }
        .login_form
        {
            margin-right: 0px;
            width: 100%;
            margin-bottom: 10px;
        }
    .tentang_smalltitle
    {
        font-size-adjust: 15px;
    }
        .tentang_bigtitle
        {
            font-size: 20px;
        }
        .tentang_text
        {
            padding: 0px;
            font-size: 13px;
        }
        .tentang_flex
        {
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .tentang_frame
        {
            flex: 50%;
            width: 50%;
            border-left: 0.3px solid #72eb967a;
            border-top: 0.3px solid #72eb967a;
            border-bottom: 0.3px solid #72eb967a;
        }
        .tentang_frame:last-child
        {
            border-right: 0.3px solid #72eb967a;
        }
        .tentang_angka
        {
            margin-top: 10px;
            font-size: 20px;
        }
        .tentang_var
        {
            font-size: 13px;
        }
    .text
    {
        font-size: 13px;
    }
    .menu
    {
    }
        .menu-kiri
        {
        }
        .menu-kanan
        {
            width: 100%;
        }
    .navbar-toggler
    {
        padding-left: 0px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}